.menu {
  margin: 0; 
  padding: 4px;
  text-align: center; 
}

.menu li {
  display: inline;
  margin-right: 5px; 
  padding: 3px;  
}
.menu li p {
  font-weight: 800;
  display: inline;
  position: relative;
  left: 24%;
}
.menu li a {
  text-decoration: none;
}